footer {
  .header-contact__logo-box {
    @include respond(phone) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  padding: 3rem 0;

  .row--lg {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      display: block;
    }
  }

  .header-contact__info {
    flex-direction: column;
    align-items: flex-start;

    li {
      margin-bottom: 0.8rem;
    }

    h3 {
      font-size: 2.4rem;
      color: $color-secondary-light;
      text-transform: uppercase;
    }
  }
}
