.header-intro {
  display: flex;
  max-width: $website-width;
  margin: 0 auto;
  position: relative;
  // flex: 0 0 auto;
  margin-bottom: 6rem;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    position: relative;
    top: 4rem;
    left: 6rem;
    display: block;
    height: 50rem;
    flex-basis: 50rem;
    min-width: 50rem;
    //  height: 50rem;
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      ),
      url(../images/header-intro.png);
    background-blend-mode: soft-light;
    background-size: cover;

    @include respond(phone) {
      display: none;
    }
  }

  &__content {
    background-color: $color-grey-light-2;
    padding: 4rem 4rem 4rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 50rem;
  }
}
