.welcome {
  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
      width: 40rem;
      grid-template-rows: 20rem repeat(2, 40rem);
      margin: 0 auto;

      grid-gap: 2rem;
    }
  }

  &-box {
    text-align: center;
    padding: 7rem 3rem;

    &--1 {
      @include respond(phone) {
        height: 25rem;
        padding: 0 3rem;
      }
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../images/photo-2.jpeg);
      background-size: cover;
      background-blend-mode: soft-light;
    }
    &--3 {
      background-color: $color-primary-light;
      color: $color-white;
      @include easeOut;

      .heading-teriary {
        color: $color-white;
        text-transform: uppercase;
      }

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }
}
