// COLORS
$color-primary: #f3d6d6;
$color-primary-dark: #f1b0c1;
$color-secondary-dark: #4c6451;
$color-secondary-light: #b4bca6;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
