.section-works,
.section-testimonials {
  background-color: $color-primary-light;
}

.section-services {
  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
    grid-gap: 4rem;

    &__item {
      span {
        display: block;
        font-size: 1.8rem;
        color: $color-secondary-light;
        font-weight: 300;
      }
      &:nth-child(2n) {
        justify-self: end;
      }
    }
  }
}

.section-testimonials {
  .swiper-container {
    .swiper-slide {
      background-image: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__user-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 15rem;
        }
      }
    }
  }
}
