.section-works,
.section-testimonials {
  background-color: $color-primary-light;
}

.section-services {
  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
    grid-gap: 4rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    &__item {
      span {
        display: block;
        font-size: 1.8rem;
        color: $color-secondary-light;
        font-weight: 300;
      }
      &:nth-child(2n) {
        justify-self: end;

        @include respond(phone) {
          justify-self: center;
        }
      }

      @include respond(phone) {
        justify-self: center;
      }
    }
  }
}

.section-testimonials {
  .swiper-container {
    @include respond(phone) {
      width: 42rem;
    }

    .swiper-slide {
      background-image: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__user-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 15rem;
        }
      }
    }
  }
}

.section-team {
  .container {
    max-width: 90rem;

    @include respond(phone) {
      padding: 0 5rem;
    }
  }
  .member {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;

    @include respond(phone) {
      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }

    @include respond(pixel) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr 1fr;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 0rem;
      }
    }

    &__photo {
      position: relative;
      z-index: 2;
      grid-column: 1 / 5;
      grid-row: 1 / -1;

      @include respond(pixel) {
        grid-column: 2 / 6;
        grid-row: 1/2;
      }

      img {
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: 2;
      }
      // mix-blend-mode: overlay;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          to bottom right,
          $color-primary-light,
          $color-primary-dark
        );
        opacity: 0.4;
        z-index: 3;
        transition: all 0.2s ease-out;
      }

      &:hover {
        &::after {
          opacity: 0.1;
        }
      }
    }

    &__background {
      width: 100%;
      height: 100%;
      background-color: $color-primary-dark;
      position: absolute;
      bottom: -2.4rem;
      left: -2.4rem;
      z-index: 1;
    }

    &__info {
      grid-column: 6 / -1;
      grid-row: 1 / -1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;

      @include respond(pixel) {
        grid-column: 1/-1;
        grid-row: 2/-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    &__name {
      font-size: 3.2rem;
      text-transform: uppercase;
      color: $color-secondary-light;
    }

    &:nth-of-type(even) {
      .member__info {
        grid-column: 1 / 8;
        align-items: flex-end;
        text-align: right;

        @include respond(pixel) {
          grid-column: 1 / -1;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
        }
      }

      .member__photo {
        grid-column: 9 / -1;

        @include respond(pixel) {
          grid-column: 2/ 6;
        }
      }
    }
  }
}

.section-cta {
  background-color: $color-primary-light;
}

.section-contact {
  background-color: $color-grey-light-2;
}
