body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-secondary-dark;
  font-size: 3.8rem;
  line-height: 1.2;
  text-transform: capitalize;
}
