body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-secondary-dark;
  font-size: 3.8rem;
  line-height: 1.2;
  text-transform: capitalize;
}

.heading-teriary {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  color: $color-secondary-light;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 8rem;
    background-color: $color-grey-light-2;
    margin: 2rem auto;
  }
}

.text-primary {
  color: $color-primary-dark;
}

.text-bold {
  font-weight: 700;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  color: $color-secondary-dark;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    margin: 1.6rem auto;
    height: 1px;
    width: 8rem;
    background-color: $color-grey-dark-2;
  }
}
